<section class="container-x py-20">
  <h1 class="text-5xl mb-10">{{ collection.title }}</h1>
  <div class="grid gap-6 md:grid-cols-3">
    {% for product in collection.products %}
      <a href="{{ product.url }}" class="block border hover:border-primary">
        {%- if product.featured_image -%}
          <img src="{{ product.featured_image | image_url: width: 800 }}" alt="{{ product.title | escape }}">
        {%- endif -%}
        <div class="p-4">
          <h3 class="text-xl">{{ product.title }}</h3>
          <p class="text-primary">{{ product.price | money }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
